
/* Page Styles */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1.1em/1.5 sans-serif;
	color: #292929;
	background-color: #81A8B5;
}

h2,h1 {
	color:#454545;
}

.link{
	text-decoration:none;
	color: red;
}

/* Layout Element Colors */

.main-header       { background-color: #E3AB86; 
                     background: linear-gradient(#81A8B5, transparent 20%),   
                     linear-gradient(0deg,#E3AB86, transparent 80%) ;}
    
.main-logo a       { background-color: #5fcf80; }
.main-nav a        { background-color: #567782; }
.primary-content   { background-color: #567782; }
.secondary-content { background-color: #BA7E56;}
.extra-content     { background-color: #BA7E56;}

/*Header & Nav*/

nav a.selected, nav a:hover {

color: #52A3CC;

}

.main-header {
	padding: 15px;
}
.main-logo,
.main-nav li {
	float: left;
}
.main-logo {
	margin: 0 50px 0 0;
}
.main-nav li {
	margin-top: 15px;
	margin-left: 15px;
}
.main-logo a, 
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
}
.main-banner {
	background: #81A8B5;
	text-align: center;
	padding: 35px 15px;
}


/* Column Layout USE THIS IN THE SUBPAGES, NOT RELAVENT ON INDEX */

.col {
	padding: 20px;
	float: left;
	width: 30%;
	min-height:902px;
	
}

.col2 {
	padding: 20px;
	float: left;
	width: 30%;
	min-height:962px;
	
}
.primary-content {
	width: 40%;
	
}
.col:last-child {
	float: right;
}

.col2:last-child {
	float: right;
}

/* Float Clearfix */

.group:after {
  content: " ";
  display: table;
  clear: both;
}



/* Imagery DEAL WITH THIS LATER */

.feat-img {
	max-width: 50%;
	max-height: 30%;
	float: left;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	border: solid 1px;
	padding: 5px;
} 

.sec-img {
	max-width: 100%;
	max-height: 50%;
	float: right;
	margin:auto;
	border: solid 1px;
	padding: 5px;
} 

.thr-img {
	max-width: 67%;
	max-height: 30%;
	float: left;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	border: solid 1px;
	padding: 5px;
} 

.img-main{
	width:100%;
	height:100%;
	margin:auto;
}



/* Media Queries */

@media (max-width: 768px) {
	.main-wrapper,
	.main-nav li, 
	.main-logo,
	.col,
	.feat-img {
		width: initial;
		height: initial;
		float: initial;
	}
	.main-logo {
		margin-right: 0;
	}
	.main-nav li {
		margin-left: 0;
	}
	.feat-img {
		width: 100%;
	}
	.extra-content {
		display: none;
	}
}











