/**********
GENERAL
***********/


/* site body */

body {
 
  font-family:'PT Serif', serif;
  
  }



body {
background-color: #99E6E6;
  color: #fff;
}
a {
  text-decoration:none;
}
#wrapper {
max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  
}

a {
color: #FFFFFF;

}
/*
/**********
Header
***********

/* Pink Header 
header {
background: #FFCCCC;
  border-color: #FFFFCC;

}
/* Logo text 
h1, h2 {
color: #EBF5FF;}
  
  #logo {
text-align: center;
    margin: 0;

}

h1 { 
font-family: 'EB Garamond', serif;
  margin: 15px 0;
  font-size: 2em;
  line-height: 0.8em;

}

h2 {
font-size: 1.0em;
  margin: -5px 0 0;
  font-weight: normal;
  font-family: 'EB Garamond', serif;

}
/**********
FOOTER
***********
footer {
font-size: 0.72em;
  text-align: center;
  padding-top:50px;
  color: #ffffff;
}


/**********
NAV 
***********

nav {
  float: left;
  padding: 10px 0;
  margin: 20px 0;
    
}


/* Nav background 
nav {
background: #FFFFCC;}

/* nav link

nav a, nav a:visited {
  color: #D6EBFF 
}
/* Selected Nav Link 

nav a.selected, nav a:hover {

color: #52A3CC;

} */

.main-header {
	padding: 15px;
}

.main-nav li {
	float: left;
}

.main-nav li {
	margin-top: 15px;
	margin-left: 15px;
}
 
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
}
.main-banner {
	background: #dfe2e4;
	text-align: center;
	padding: 35px 15px;
}
.main-footer {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}








